name: CI - Build and Push Docker Images

on:
  push:
    branches:
      - "**" # This will run on any branch, including develop and main

jobs:
  build-frontend:
    name: Build and Push Frontend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v4
        with:
          # This tells the builder to look inside the 'frontend' folder
          context: ./frontend
          file: ./frontend/Dockerfile
          push: true
          # This creates the image ali15401/nexskill-frontend
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nexskill-frontend:latest

  build-backend:
    name: Build and Push Backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v4
        with:
          # This tells the builder to look inside the 'backend' folder
          context: ./backend
          file: ./backend/Dockerfile
          push: true
          # This creates the image ali15401/nexskill-backend
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nexskill-backend:latest

  build-nginx:
    name: Build and Push Nginx
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push nginx image
        uses: docker/build-push-action@v4
        with:
          # This tells the builder to look inside the 'nginx' folder
          context: ./nginx
          file: ./nginx/Dockerfile
          push: true
          # This creates the image ali15401/nexskill-nginx
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nexskill-nginx:latest
