name: Docker CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v2

      # Set up Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Build and push containers
      - name: Build & Push Docker images
        run: |
          # Frontend
          docker build -f frontend/Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:frontend-ci-${{ github.run_number }} \
                                                -t ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:frontend-latest ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:frontend-ci-${{ github.run_number }}
          docker push ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:frontend-latest

          # Link Service
          docker build -f link-service/Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:link-service-ci-${{ github.run_number }} \
                                                    -t ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:link-service-latest ./link-service
          docker push ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:link-service-ci-${{ github.run_number }}
          docker push ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:link-service-latest

          # Analytics Service
          docker build -f analytics-service/Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:analytics-service-ci-${{ github.run_number }} \
                                                          -t ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:analytics-service-latest ./analytics-service
          docker push ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:analytics-service-ci-${{ github.run_number }}
          docker push ${{ secrets.DOCKER_USERNAME }}/url-shorten-final-project:analytics-service-latest
